<br />
<div id="context" class="container bg-light">

    <section class="row menu-section" data-bind="foreach:Cards">

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <article class="card text-white mb-4 shadow-3dp border-0 gf-card-menu" data-bind="css:Color">
                <div class="card-body card-menu text-right">
                    <div class="card-body-icon">
                        <i class="fas" data-bind="css:Icon"></i>
                    </div>
                    <h5 class="card-title text-shadow" data-bind="text:Name"></h5>

                    <h6 class="card-title text-shadow" data-bind="text:Detail"></h6>
                </div>
                <footer class="card-footer footer-dark border-top-0">
                    <a data-bind="attr: { href:Url }, click:$parent.ChangeCard" class="btn btn-link btn-block text-white text-decoration-none p-0 d-flex justify-content-between align-items-center">
                        <span class="text-shadow">Iniciar</span>
                        <span class="filter-shadow"><i class="fas fa-share"></i></span>
                    </a>
                </footer>
            </article>
        </div>
    </section>

    <section class="row">

        <div id="gf-card-1" class="col-12 d-none">
            <article class="card shadow-1dp mb-4">
                <header class="card-header shadow-sm bg-g-blue d-flex">
                    <h5 class="m-0 p-0 text-white"><i class="fas fa-history"></i>&nbsp;&nbsp;Histórico de Kilometraje</h5>
                    <a class="ml-auto" data-bind="click:CargarTablaHistorico" style="cursor: pointer;"><i class="fas fa-sync-alt text-white"></i></a>
                </header>
                <div class="card-body">
                    <div class="container">

                        <div class="row d-flex flex-row-reverse">
                            <div class="col-xs-6 col-md-4 col-lg-3">
                                <button class="btn btn-primary btn-block d-none" data-bind="click:AbrirVentanaCargarInterface">Cargar Archivo</button>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-12">

                                <div class="d-flex">
                                    <h5 class="mt-3 text-left text-muted"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;Registro Histórico</h5>
                                    <button class="btn btn-secondary ml-auto" data-bind="click:AbrirVentanaCargarInterface">Cargar Archivo</button>
                                </div>

                            </div>

                            <div class="col-12 mt-3">
                                <table id="tabla_historico" class="table-pointer table-bordered display text-muted stripe w-100 my-2">
                                    <thead>
                                        <tr>
                                            <th class="text-left text-dark" width="20%" scope="col">Id</th>
                                            <th class="text-left text-dark" width="20%" scope="col">VIN</th>
                                            <th class="text-left text-dark" width="20%" scope="col">Fecha</th>
                                            <th class="text-left text-dark" width="10%" scope="col">Kilómetros</th>
                                            <th class="text-left text-dark" width="10%" scope="col">Horas</th>
                                            <th class="text-left text-dark" width="10%" scope="col">Minutos</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </article>
        </div>

        <div id="gf-card-2" class="col-12">
            <article class="card shadow-1dp mb-4">
                <header class="card-header shadow-sm bg-g-blue d-flex">
                    <h5 class="m-0 p-0 text-white"><i class="fas fa-tools"></i>&nbsp;&nbsp;Mantenimiento a Unidades</h5>
                    <a class="ml-auto" style="cursor: pointer;"><i class="fas fa-sync-alt text-white"></i></a>
                </header>
                <div class="card-body">

                </div>
            </article>
        </div>

        <div id="gf-card-3" class="col-12 d-none">
            <article class="card shadow-1dp mb-4">
                <header class="card-header shadow-sm bg-g-blue d-flex">
                    <h5 class="m-0 p-0 text-white"><i class="fas fa-tools"></i>&nbsp;&nbsp;Mantenimiento a Equipos Aliados</h5>
                    <a class="ml-auto" style="cursor: pointer;"><i class="fas fa-sync-alt text-white"></i></a>
                </header>
                <div class="card-body">

                </div>
            </article>
        </div>

        <div id="gf-card-4" class="col-12 d-none">
            <article class="card shadow-1dp mb-4">
                <header class="card-header shadow-sm bg-g-blue d-flex">
                    <h5 class="m-0 p-0 text-white"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;Opción 4</h5>
                    <a class="ml-auto" style="cursor: pointer;"><i class="fas fa-sync-alt text-white"></i></a>
                </header>
                <div class="card-body">

                </div>
            </article>
        </div>

        <div id="gf-card-5" class="col-12 d-none">
            <article class="card shadow-1dp mb-4">
                <header class="card-header shadow-sm bg-g-blue d-flex">
                    <h5 class="m-0 p-0 text-white"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;Opción 5</h5>
                    <a class="ml-auto" style="cursor: pointer;"><i class="fas fa-sync-alt text-white"></i></a>
                </header>
                <div class="card-body">

                </div>
            </article>
        </div>

        <div id="gf-card-6" class="col-12 d-none">
            <article class="card shadow-1dp mb-4">
                <header class="card-header shadow-sm bg-g-blue d-flex">
                    <h5 class="m-0 p-0 text-white"><i class="fas fa-info-circle"></i>&nbsp;&nbsp;Opción 6</h5>
                    <a class="ml-auto" style="cursor: pointer;"><i class="fas fa-sync-alt text-white"></i></a>
                </header>
                <div class="card-body">

                </div>
            </article>
        </div>

    </section>

</div>

<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <hr />
            <footer>
                <div class="row">
                    <div class="col text-left">
                        <span id="siteseal">
                            <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=cm1J6bJAPUSxWmHzxi5r3D65THkVnkvmTSQE0JDenYsr4zxOvfBtyxkoxqkr"></script>
                        </span>
                    </div>
                    <div class="col text-right">
                        <span class="text-muted">
                            &copy; @DateTime.Now.Year - Portal de @ViewBag.AppName - Inntek GF
                        </span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

<div id="modales">

    <div class="modal fade" id="modal_procesando" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary p-2">
                    <h5 class="modal-title text-left text-white w-100 m-0">Procesando</h5>
                </div>
                <div class="modal-body p-2">
                    <div class="d-flex justify-content-center">
                        <h1 class="text-primary"><i class="fas fa-cog fa-spin"></i><i class="fas fa-cog fa-spin"></i><i class="fas fa-cog fa-spin"></i></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_cargar_int_kil" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary p-2">
                    <h5 class="modal-title text-left text-white w-100 m-0"><i class="fas fa-file-upload"></i>&nbsp; Cargar archivos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-2">

                    <div class="container">
                        <div class="row">

                            <div class="col-12 mt-3 mb-1">
                                <h6 class="text-muted"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;Interface del kilometraje recorrido de las unidades.</h6>
                            </div>


                            <div class="col-12">

                                <input id="if_archivo_interface" type="file" class="d-none" accept=".xlsx,.csv" data-bind="event: { change: function(){ OnLoadFileInterface($element.files[0]) }  }" />
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-file-excel"></i></span>
                                    </div>
                                    <input type="text" name="" id="" class="form-control" data-bind="textInput:NombreArchivoInterface" readonly>
                                    <div id="b_cargar_interface" class="input-group-append">
                                        <span class="input-group-text btn" data-bind="text:EstatusArchivoInterface, click:AbrirSeleccionInterface"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12" data-bind="visible:MensajeArchivoCargado()">
                                <div class="alert alert-success" data-bind="attr: { class:ClaseAlertaInterface }">
                                    <h6 class="p-2"><strong>Aviso</strong> <span data-bind="text:MensajeArchivoCargado"></span></h6>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <div class="modal-footer p-2 mb-2">
                    <button type="button" class="btn btn-secondary" data-bind="click: CerrarModalInterface">Cerrar</button>
                    <button type="button" class="btn btn-primary" data-bind="click: SubirArchivoInterface, enable: DatosArchivoInterface">Subir</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{

    <script>

        const repositoryMain = new Repository();

        let TablaHistorico = { Id: "tabla_historico", Inicializada: false, DataTable: null  };

        const cards = [
            { Id: 1, Name: "Histórico de Kilometraje", Detail: "", Url: "#gf-card-1", Icon: "fa-history", Color: "bg-g-orange-400" },
            { Id: 2, Name: "Mantenimiento a Unidades", Detail: "", Url: "#gf-card-2", Icon: "fa-tools", Color: "bg-g-red-600" },
            { Id: 3, Name: "Mantenimiento a Equipos Aliados", Detail: "", Url: "#gf-card-3", Icon: "fa-tools", Color: "bg-g-green-600" },
            { Id: 4, Name: "Opción 4", Detail: "", Url: "#gf-card-4", Icon: "fa-info-circle", Color: "bg-g-deep-blue-600" }
        ];


        const controller = {
            Cards: ko.observableArray(cards),
            ChangeCard: function (data) {

                /*if (data.Id == 1) {
                    $("#modal_cargar_int_kil").modal("show");
                    return;
                }*/

                for (let i = 1; i <= cards.length; i++) {
                    let idCard = "#gf-card-" + i;
                    if (i == data.Id) {
                        $(idCard).removeClass('d-none');
                        continue;
                    }
                    $(idCard).addClass('d-none');
                }
            },
            AbrirVentanaCargarInterface: function () {
                $("#modal_cargar_int_kil").modal("show");
            },
            CargarTablaHistorico: function () {
                $("#modal_procesando").modal('show');
                repository.HistoricoKilometrajeController.ConsultarHistorico()
                    .then(LoadTablaHistorico)
                    .catch(e => console.error(e));

            }
        };

        const controller_modales = {
            NombreArchivoInterface: ko.observable('Selecciona un archivo...'),
            EstatusArchivoInterface: ko.observable('Buscar'),
            DatosArchivoInterface: ko.observable(),
            FileName: ko.observable(),
            FileContentType: ko.observable(),
            FileSize: ko.observable(),
            ClaseAlertaInterface: ko.observable(),
            MensajeArchivoCargado: ko.observable(''),
            OnLoadFileInterface: async function (file) {

                if (file) {

                    this.NombreArchivoInterface(file.name);
                    this.EstatusArchivoInterface('Cargando...');

                    let data = await GetFileData(file);
                    this.DatosArchivoInterface(data);

                }
            },
            CerrarSesion: function () {
                repositoryMain.UsuariosController.Logout();
                setTimeout(function () { window.location.href = window.location.origin + '/Home' }, 1000);
            },
            AbrirSeleccionInterface: function () {
                $('#if_archivo_interface').trigger('click');
            },
            SubirArchivoInterface: function () {

                let data = {
                    Name: this.FileName(),
                    ContentType: this.FileContentType(),
                    Data: this.DatosArchivoInterface(),
                    Size: this.FileSize()
                };

                console.log(data);

                $("#modal_cargar_int_kil").modal("hide");
                $("#modal_procesando").modal("show");

                repository.HistoricoKilometrajeController.SubirArchivoInterface(data)
                    .then(HandleSubirArchivoInterface);
            },
            CerrarModalInterface: function () {
                $("#modal_cargar_int_kil").modal("hide");
                this.MensajeArchivoCargado('');
                controller_modales.NombreArchivoInterface('Selecciona un archivo...');
                controller_modales.EstatusArchivoInterface('Buscar');
                controller_modales.DatosArchivoInterface(null);
            }
        }

        function HandleSubirArchivoInterface(data) {

            let mensaje = '';

            controller_modales.NombreArchivoInterface('Selecciona un archivo...');
            controller_modales.EstatusArchivoInterface('Buscar');
            controller_modales.DatosArchivoInterface(null);


            if (data.Success) {
                mensaje = 'Se guardaron correctamente ' + data.Data.length + ' registros.';
                controller_modales.ClaseAlertaInterface('alert-success')
            }
            if (!data.Success) {
                mensaje = "Ocurrió un error."
                controller_modales.ClaseAlertaInterface('alert-danger')
            }

            controller_modales.MensajeArchivoCargado(mensaje);

            $("#modal_procesando").modal("hide");
            $("#modal_cargar_int_kil").modal("show");



        }

        function GetFileData(file) {

            return new Promise((resolve, reject) => {

                if (file) {

                    const render = new FileReader();

                    render.onload = function (response) {

                        var buffer = new Uint8Array(response.target.result);
                        resolve(Array.from(buffer));
                    };

                    render.onerror = reject;

                    controller_modales.FileName(file.name);
                    controller_modales.FileContentType(file.type);
                    controller_modales.FileSize(file.size);
                    controller_modales.EstatusArchivoInterface('Listo');

                    render.readAsArrayBuffer(file);

                }

                else {
                    resolve(null);
                }

            });
        }

        function LoadTablaHistorico(data) {

            console.log(data);

            if (!TablaHistorico.Inicializada) {
                TablaHistorico.DataTable = $('#'+TablaHistorico.Id).DataTable({
                    columns: [
                        { data: 'Id' },
                        { data: 'VIN' },
                        { data: 'FechaF' },
                        { data: 'Kilometros' },
                        { data: 'Horas' },
                        { data: 'Minutos' }
                    ],
                    columnDefs: [
                        // { targets: [0, 1, 2, 3, 4, 5], className: "text-center" },
                    ],
                    searching: true,
                    lengthChange: false,
                    info: true,
                    select: {
                        style: 'single'
                    },
                    language: { url: window.location.origin + "/Scripts/Spanish.json" },
                    orderCellsTop: true,
                    data: []
                });

                TablaHistorico.Inicializada = true;
            }

            if (data.Success && TablaHistorico.Inicializada) {
                TablaHistorico.DataTable.clear();
                TablaHistorico.DataTable.rows.add(data.Data).draw();
            }

            setTimeout(function () { $("#modal_procesando").modal("hide"); }, 500);

        }

        $(document).ready(function () {

            ko.applyBindings(controller, window.context);
            ko.applyBindings(controller_modales, window.modales);

            controller.CargarTablaHistorico();


        });

    </script>

}